@use "./costants/colors" as *;

body {
  background-color: $primary-color;
}

.homepage {
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo-container {
  width: 30vw;
  height: 7vh;
  text-align: left;
  img {
    width: 11vw;
    height: 7vh;
    margin-top: 20px;
    margin-left: 20px;
  }
}

.header-menu-container {
  width: 70vw;
  height: 7vh;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  div {
    margin-right: 60px;
  }
}

.info-home-section {
  width: 100vw;
  height: 93vh;
}

.infos-home-text {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
}

.infos-home-title {
  width: 70vw;
  height: 30vh;
  text-align: left;
  padding: 10vh 0 0 4vw;
  font-size: 11rem;
  letter-spacing: -10px;
  line-height: 8rem;
  font-weight: 800;
  display: flex;
  align-items: center;
}
.infos-home-subtitles {
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-right: 6vw;
  padding-top: 60px;
}

.infos-home-motto {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  background: $divider-background;
  color: $primary-color;
}

.infos-home-motto-subtitle {
  font-weight: 500;
  margin-top: 30px;
  font-size: 1.2rem;
}

.infos-home-buttons {
  padding: 0px 4%;
  display: flex;
  align-items: start;
}

.text_container_arrow_button {
  width: 70%;
  line-height: 25px;
  padding-top: 25px;
}

.divider-home-container {
  width: 100vw;
  height: 12vh;
  background-color: $divider-background;
  color: $primary-color;
  font-size: 5vw;
  font-weight: 800;
  padding:3vh 3vw 0 3vw;
  display: flex;
  flex-direction: row;
}

.divider-home-text{
  display: flex;
  img{    
    width: 70px;
    height: 70px;
    margin: 1.5vh 1.5vw 0;
  }
}
