@use './costants/colors' as *;

body {
  background-color: $primary-color;
}

.homepage{
  width: 100vw;
  height: 100vh;
}

.header{
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo-container{
  width: 30vw;
  height: 7vh;
  text-align: left;
  img{
    width: 11vw;
    height: 7vh;
    margin-top: 20px;
    margin-left: 20px;
  }
}

.header-menu-container{
  width: 70vw;
  height: 7vh;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  div{
    margin-right: 60px;
  }
}